* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

ul {
    list-style-type: none;
}

.container > div {
    border: 1px solid black;
}

.header > ul {
    border: 1px solid black;
}

.top-header {
    display: grid;
    grid-template-columns: 1fr 4fr  1fr 1fr 1fr;
}